@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

/* Custom class to hide scrollbar specifically */
.hide-scrollbar-area {
  /* Hide scrollbar for Chrome, Safari and Opera */
  overflow: hidden !important; 
}

.hide-scrollbar-area::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar-area {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
